<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    <h1>Quests</h1>
    <h2>No condition quests</h2>
    <ul>
      <% quests.noConditionQuests.forEach((id) => { %>
        <li>ID: <%= id %></li>
      <% }); %>
    </ul>
    <% Object.keys(quests.levelMap).forEach((level) => { %>
      <h2>Level: <%= level %></h2>
      <ul>
        <% quests.levelMap[level].forEach((id) => { %>
          <li>ID: <%= id %></li>
        <% }); %>
      </ul>
    <% }); %>
</body>
</html>
